<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Books</title>
    <link rel="stylesheet" href="/styles/add.css" />
  </head>
  <body>
    <form action="/addBooks/add" method="POST">
      <h1 style="text-decoration: underline">Tambah buku</h1>
      <label for="title">Title:</label>
      <input type="text" name="title" id="title" required /><br />

      <label for="author">Author:</label>
      <input type="text" name="author" id="author" /><br />

      <label for="isbn">ISBN:</label>
      <input type="number" name="isbn" id="isbn" required /><br />

      <label for="user_rating">Rating:</label>
      <input
        type="number"
        name="user_rating"
        id="user_rating"
        min="1"
        max="5"
      /><br />

      <label for="review">Review:</label>
      <textarea name="review" id="review"></textarea><br />

      <button type="submit">Add Book</button>
    </form>
  </body>
</html>
