<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/home.css">
  <title>Document</title>
</head>
<body>
  <section class="about-section">
    <h1>BooForSavior</h1>
    <h2>ME in 5 second</h2>
  </section>
  <p>i <span style="font-weight: bold; text-decoration: underline;">second year student</span> in college in indonesia  </p>
  <p>i have hobby for mylife like gym, game, food and watch anime </p>
  
  <div class="specific-about">
    <h2>ME in long Biografi</h2>
    <p>See <a href="https://profile-web-v2.vercel.app/  ">my "about" page.</a></p>
  </div>

  <section class="book-image-section">
    <div class="flex-book">
      <h2>Books</h2>
      <p><a href="/books">=> see more book</a></p>
    </div>
    <img src="https://sive.rs/images/Sivers-hardcovers-2021.jpg" alt="" class="home-book-image">
  </section>
  </body>
</html>